REACT_APP_APPRUVE_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOiIwMzQyNmUzOC0yMzQ0LTQ2MDgtYjQ4ZC02MjIyNTE4MWNmNjAiLCJhdWQiOiIzYmVhYWMwOS01NTE5LTQxYjItYjY5Yi0zZDkyMzhlYjNiMjYiLCJzdWIiOiI1ZWU0ZGM3Ni1hMzJmLTQ3MGMtYjMxNS05NGQ0OTg5NmE0YWYiLCJuYmYiOjAsInNjb3BlcyI6WyJ2ZXJpZmljYXRpb25fdmlldyIsInZlcmlmaWNhdGlvbl9saXN0IiwidmVyaWZpY2F0aW9uX2RvY3VtZW50IiwidmVyaWZpY2F0aW9uX2lkZW50aXR5Il0sImV4cCI6MzE2NzA1NDA0OSwiaWF0IjoxNTg5MjE3MjQ5fQ.1yZjzmFJnaj_4XBvw7nqEsgIQouEp-eKzSevnHVJOaQ
REACT_APP_APPRUVE_BASE_URL=https://api.appruve.co

